nserver 9.9.9.9
nserver 149.112.112.112

nscache 65536
stacksize 65536

maxconn 1000

# No authentication
auth strong
# Create hash for password - "openssl passwd -1 password1"
users "user1:CR:$1$hE1FmmM$jxhx3S5XuTW/Pju0c9y/"

# SOCKS5 proxy
socks -n -p35829
